/* body {
  background-color: #F0F2F5;
} */

.logo {
  float: left;
  color: white;
  font-weight: 600;
  padding-right: 50px;
}

.page-wrapper {
  padding: 50px;
}

.currency {
  display: flex;
  padding: 5px;
}
.currency--name {
  width: 50px;
}

.exchange-setup {
  display: flex;
}

